.param-item {
  width: 800px;
  height: 200px;
  margin: 40px auto 0;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 1px black;
  border-radius: 20px;
  position: relative;
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease;

  &.pre-delete {
    transform: translateX(-100%);
    opacity: 0.4;
  }

  @media (max-width: 900px) {
    width: 700px;
    height: 180px;
  }

  @media (max-width: 730px) {
    width: 440px;
    height: 300px;
    flex-direction: column;
    gap: 40px;
  }

  @media (max-width: 480px) {
    width: 370px;
  }

  @media (max-width: 410px) {
    width: 310px;
    height: 280px;
  }

  .icons-wrapper {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .close,
  .update {
    width: 40px;
    cursor: pointer;
    transition: all 0.3s ease;

    @media (max-width: 730px) {
      width: 38px;
      top: 19px;
      right: 19px;
    }

    @media (max-width: 600px) {
      cursor: default;
    }

    @media (max-width: 480px) {
      width: 36px;
      top: 16px;
      right: 16px;
    }

    @media (hover: hover) {
      &:hover {
        transform: translateY(-4px);
        opacity: 0.7;
      }
    }

    @media (hover: none) {
      &:active {
        transform: translateY(-4px);
        opacity: 0.7;
      }
    }
  }

  .param-infomation-wrapper {
    display: flex;
    align-items: center;

    @media (max-width: 730px) {
      margin-top: 40px;
    }

    @media (max-width: 480px) {
      font-size: 15px;
    }

    .param-text-wrapper {
      display: flex;
      flex-direction: column;
    }

    .param-title-wrapper {
      display: flex;
      gap: 20px;
      margin-right: 20px;
    }
  }

  .param-value {
    margin: 0 30px;
  }

  .circle-param-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--pan-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Roboto", sans-serif;

    &.ok {
      background-color: var(--ok-color);
    }

    &.warn {
      background-color: var(--warn-color);
    }

    &.err {
      background-color: var(--err-color);
    }

    @media (max-width: 480px) {
      width: 40px;
      height: 40px;
      font-size: 14px;
    }
  }
}

.param-item-button {
  width: 260px;
  height: 60px;
  background-color: var(--pan-color);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 0 60px;
  cursor: pointer;

  &.ok {
    background-color: var(--ok-color);
  }

  &.warn {
    background-color: var(--warn-color);
  }

  &.err {
    background-color: var(--err-color);
  }

  @media (max-width: 660px) {
    margin: 0;
  }

  @media (max-width: 600px) {
    cursor: default;
  }

  @media (max-width: 480px) {
    width: 220px;
    height: 50px;
  }

  .arrow {
    display: flex;
    align-items: center;

    &-base {
      width: 21px;
      height: 4px;

      @media (max-width: 480px) {
        width: 19px;
        height: 3px;
      }
    }

    &-head {
      width: 13px;
      height: 18px;
      transition: all 0.4s ease-in-out;

      @media (max-width: 480px) {
        width: 12px;
        height: 15px;
      }
    }
  }

  @media (hover: hover) {
    &:hover p {
      opacity: 0.7;
    }
  }

  &:active p {
    opacity: 0.7;
  }

  @media (hover: hover) {
    &:hover {
      filter: drop-shadow(0px 0px 10px var(--ui-color));
    }
  }

  &:active {
    filter: drop-shadow(0px 0px 10px var(--ui-color));
  }

  @media (hover: hover) {
    &:hover .arrow-head {
      transform: translateX(6px);
    }
  }

  &:focus .arrow-head,
  &:active .arrow-head {
    transform: translateX(6px);

    @media (max-width: 420px) {
      transform: translateX(4px);
    }
  }

  p {
    color: #fff;
    font-family: "Roboto", sans-serif;

    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
}
