@mixin analysis-text($size: 20px, $weight: 400) {
  font-size: $size;
  font-weight: $weight;
}

@mixin chart-infomation {
  display: flex;
  align-items: center;
  gap: 20px;
}

.analysis-section {
  background: var(--gradient);
  padding: 8% 0 10%;
  // height: 100vh;
  height: 100%;
  // height: calc(calc(1vw + 1vh) * 160%);
  font-family: "Montserrat", sans-serif;

  // @media (max-height: 420px) {
  //   height: 120vh;
  // }

  // @media (max-height: 300px) {
  //   height: 200vh;
  // }

  // @media (max-height: 200px) {
  //   height: 260vh;
  // }

  @media (max-width: 800px) {
    padding: 12% 0 24%;
  }

  @media (max-width: 500px) {
    padding: 15% 0 24%;
  }

  @media (max-width: 420px) {
    padding: 16% 0 24%;
  }
}

.analysis-infomation-wrapper {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1000px) {
    width: 80%;
  }

  @media (max-width: 760px) {
    width: 100%;
  }

  .analysis-infomation {
    width: 50%;
    text-align: center;

    @media (max-width: 760px) {
      width: 100%;
    }

    h2 {
      @include analysis-text;

      @media (max-width: 700px) {
        font-size: 18px;
      }
    }
  }

  .analysis-date {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    @media (max-width: 560px) {
      flex-direction: column;
      align-items: center;
    }

    &-before,
    &-after {
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        margin-left: 10px;

        @media (max-width: 700px) {
          font-size: 14px;
        }
      }
    }
  }
}

.analysis-result {
  margin-top: 60px;

  h2 {
    @include analysis-text;
    text-align: center;

    @media (max-width: 700px) {
      font-size: 18px;
    }
  }

  .chart-wrapper-doughnut {
    width: 60%;
    padding: 20px 0;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 1px black;
    border-radius: 20px;

    @media (max-width: 1100px) {
      width: 80%;
    }

    @media (max-width: 900px) {
      width: 90%;
    }

    @media (max-width: 700px) {
      width: 94%;
    }

    @media (max-width: 660px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    @media (max-width: 640px) {
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }

    .chart {
      width: 200px;
      height: 200px;
      margin: 0 auto;

      @media (max-width: 700px) {
        &-infomation {
          p {
            font-size: 14px;
          }
        }
      }

      @media (max-width: 460px) {
        &-infomation {
          p {
            font-size: 13px;
          }
        }
      }

      @media (max-width: 460px) {
        &-infomation {
          margin: 0 20px;

          margin-left: 20px;
          p {
            font-size: 12px;
          }
        }
      }

      @media (max-width: 760px) {
        width: 180px;
        height: 180px;
      }

      @media (max-width: 520px) {
        width: 160px;
        height: 160px;
      }
    }

    .red,
    .yellow {
      width: 32px;
      height: 32px;

      @media (max-width: 460px) {
        width: 28px;
        height: 28px;
      }
    }

    .red {
      background-color: #e30000;

      @media (max-width: 460px) {
        margin-right: 10px;
      }

      &-wrapper {
        @include chart-infomation;

        @media (max-width: 460px) {
          gap: 6px;
        }
      }
    }

    .yellow {
      background-color: yellow;

      @media (max-width: 400px) {
        width: 32px;
      }

      @media (max-width: 380px) {
        width: 33px;
      }

      @media (max-width: 370px) {
        width: 35px;
      }

      &-wrapper {
        @include chart-infomation;

        @media (max-width: 460px) {
          gap: 10px;
        }

        @media (max-width: 400px) {
          gap: 20px;
        }
      }
    }
  }

  .chart-wrapper-hist {
    width: 60%;
    padding: 40px 0;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 1px black;
    border-radius: 20px;

    @media (max-width: 1100px) {
      width: 80%;
    }

    @media (max-width: 900px) {
      width: 90%;
    }

    @media (max-width: 700px) {
      width: 94%;
    }

    .hist {
      width: 560px;
      height: 280px;

      @media (max-width: 660px) {
        width: 460px;
        height: 230px;
      }

      @media (max-width: 520px) {
        width: 400px;
        height: 200px;
      }

      @media (max-width: 460px) {
        width: 370px;
        height: 180px;
      }

      @media (max-width: 400px) {
        width: 330px;
      }
    }
  }
}
