.button {
  width: 150px;
  height: 50px;
  background: var(--ui-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  @media (max-width: 600px) {
    cursor: default;
  }

  @media (max-width: 420px) {
    width: 130px;
    height: 46px;
    font-size: 13px;
  }

  .arrow {
    display: flex;
    align-items: center;

    &-base {
      width: 21px;
      height: 4px;

      @media (max-width: 420px) {
        width: 19px;
        height: 3px;
      }
    }

    &-head {
      width: 13px;
      height: 18px;
      transition: all 0.4s ease-in-out;

      @media (max-width: 420px) {
        width: 12px;
        height: 15px;
      }
    }
  }

  @media (hover: hover) {
    &:hover p {
      opacity: 0.7;
    }
  }

  &:active p {
    opacity: 0.7;
  }

  @media (hover: hover) {
    &:hover {
      filter: drop-shadow(0px 0px 6px var(--ui-color));
    }
  }

  &:active {
    filter: drop-shadow(0px 0px 6px var(--ui-color));
  }

  @media (hover: hover) {
    &:hover .arrow-head {
      transform: translateX(6px);

      @media (max-width: 420px) {
        transform: translateX(4px);
      }
    }
  }

  &:focus .arrow-head,
  &:active .arrow-head {
    transform: translateX(6px);

    @media (max-width: 420px) {
      transform: translateX(4px);
    }
  }
}
